header {
  text-align: left;
}
h1 {
  background-color: black;
  border: black solid 5px;
  color: white;
}
h4 {
  text-align: center;
  color: white;
  background-color: #0a3d9e;
  border-top: 1px solid white;
  border-bottom: 4px solid #0a3d9e;
  padding: 10px 30px;
}
h2 {
  color: blue;
}
p {
  color: white;
  background-color: black;
  padding: 5px;
}
h3 {
  color: black;
}
